body {
    color: white;
    background-color: #1F4B61;
}

h1 {
    background-color: #FCC808;
    color: black;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid black;
}

a {
    color: white;
}

a:hover {
    background-color: #BEC0B8;
}

.nav-link {
    background-color: white;
    color: black;
}

.nav-selected {
    background-color: #DD3420;
}

.nav-selected:hover {
    color: #DD3420;
}

.rightalign {
    background-color: #1F4B61;
    color: #FCC808;
}